flows.json
[
    {
        "id": "4a5a8ec8ddc999ab",
        "type": "tab",
        "label": "mode0-rp tray",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Mode 0 FFT",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "79250bf3.365cc4",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "$(MQTTSERVERIP)",
        "port": "1883",
        "clientid": "$(MQTTCLIENTID)",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a34e18170620e588",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Save tray config in Memory",
        "func": "let tray = msg.payload;\nflow.set('tray', msg.payload);\nnode.warn(\"Received tray from database\");\ntray.watchdog.value = 0;\nlet newMsg2 = {topic:'overlay',payload:[{\"command\":\"init\",\"overlay\":flow.get('overlay')}]};\nflow.set('settingInProgress', true);\n\nreturn newMsg2;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 540,
        "wires": [
            [
                "a452a2f3b9d521c0"
            ]
        ]
    },
    {
        "id": "a33cc7fb0cd3648e",
        "type": "inject",
        "z": "4a5a8ec8ddc999ab",
        "name": "initFlow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "initFlow",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "0211a5e2f47aeea0"
            ]
        ]
    },
    {
        "id": "0211a5e2f47aeea0",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Init flow Variables",
        "func": "var trayProps = {\n    box         :   env.get(\"BOX\"),\n    type        :   env.get(\"TRAYTYPE\"),\n    name        :   env.get(\"TRAYNAME\"),\n};\nflow.set('trayProps',trayProps);\nflow.set('settingInProgress', true);\nflow.set('settingMessageCount', 0);\nflow.set('deviceInit',true);\nflow.set('tray', null);\nflow.set('overlay',env.get(\"OVERLAY\"));\nreturn {topic: \"getTrayProps\", payload: true};  \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "410156f65a9b70cb",
                "5377f495c83a7a6f"
            ]
        ]
    },
    {
        "id": "d1bde8974bd26245",
        "type": "json",
        "z": "4a5a8ec8ddc999ab",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "983b4df29435c3a9"
            ]
        ]
    },
    {
        "id": "7c2432b95f4d2a68",
        "type": "switch",
        "z": "4a5a8ec8ddc999ab",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setting",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "config",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "echo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 730,
        "y": 360,
        "wires": [
            [
                "c71fce6a2eeec7a3"
            ],
            [
                "cc8f67b0ef80fc63"
            ],
            [
                "695c2018d6145046"
            ],
            [
                "a34e18170620e588"
            ]
        ]
    },
    {
        "id": "983b4df29435c3a9",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Filter MQTT",
        "func": "return {topic:msg.topic.split('/')[5], payload:msg.payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "7c2432b95f4d2a68"
            ]
        ]
    },
    {
        "id": "5c76e32670100b45",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Publish tray",
        "func": "if (!msg.payload) return null;\nvar tray = flow.get('tray');\nif (tray == null) return null;\nlet newMsg = null;\nlet newMsgTopic = flow.get('trayProps').box + '/tray/' + flow.get('trayProps').type + '/' + flow.get('trayProps').name + '/reading';\nswitch( tray.trayControl.value)\n{\n    case 0:\n        newMsg = {topic: newMsgTopic, payload: JSON.stringify(tray)};\n        break;\n    case -1:\n        tray.trayControl.value = 1;\n        newMsg = {topic: newMsgTopic, payload: JSON.stringify(tray)};\n        break;\n    default:\n        break;\n}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 460,
        "wires": [
            [
                "c162f36043cc2868"
            ]
        ]
    },
    {
        "id": "695c2018d6145046",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Save config file",
        "func": "let cubeAlarm = flow.get('tray')[msg.payload.cube].alarm;\nif (flow.get('tray')[msg.payload.cube].hasOwnProperty('enabled'))\n{\n    if (msg.payload.hasOwnProperty('enabled'))\n    {\n        flow.get('tray')[msg.payload.cube].enabled = msg.payload.enabled;\n    }\n}\ncubeAlarm.limits.lolo = msg.payload.limits.lolo;\ncubeAlarm.limits.low  = msg.payload.limits.low;\ncubeAlarm.limits.high = msg.payload.limits.high;\ncubeAlarm.limits.hihi = msg.payload.limits.hihi;\nreturn {topic:'newData', payload:true};\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 500,
        "wires": [
            [
                "7b7acd8a92f71a95"
            ]
        ]
    },
    {
        "id": "c71fce6a2eeec7a3",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Create Setting",
        "func": "let blinkyBusSettingMsg = \n{\n    topic : msg.topic, \n    payload : [] \n}\nlet blinkyBusMessage = false;\nlet normalSettingMsg = null;\nlet trayControlMessage = null;\nlet tray = flow.get('tray');\nif (tray == null) return [blinkyBusSettingMsg,normalSettingMsg,trayControlMessage];\nif (tray[msg.payload.cube].hasOwnProperty('enabled'))\n{\n    if (tray[msg.payload.cube].enabled == 0)\n    {\n        return [null, null, null];\n    }\n}\n\nswitch (msg.payload.cube) \n{\n    case 'alias':\n        tray.alias.value = msg.payload.value;\n        blinkyBusMessage = false;\n        normalSettingMsg = { topic: 'newData', payload: true };\n       break;\n    case 'trayControl':\n        blinkyBusMessage = false;\n        switch(msg.payload.value)\n        {\n            case 0:\n                tray.trayControl.value = 0;\n                flow.set('settingInProgress', false);\n                break;\n            case 1:\n                tray.trayControl.value = -1;\n                flow.set('settingInProgress', true);\n                break;\n            case 2:\n                if (tray.trayControl.value > 0)\n                {\n                    tray.trayControl.value = 2;\n                    flow.set('settingInProgress', true);\n                    let trayProps  = flow.get('trayProps');\n                    trayControlMessage =\n                    {\n                        topic: trayProps.box + '/tray/' + trayProps.type + '/' + trayProps.name + '/echo',\n                        payload: JSON.stringify({ topic: trayProps.box + '/tray/' + trayProps.type + '/' + trayProps.name + '/setting/echo' })\n                    };\n                }\n                break;\n            default:\n                tray.trayControl.value = 0;\n                break;\n        }\n        normalSettingMsg = { topic: 'newData', payload: true };\n       break;\n    default:\n        break;\n}\nif (blinkyBusMessage)\n{\n}\nreturn [blinkyBusSettingMsg,normalSettingMsg,trayControlMessage];\n\n\n\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 300,
        "wires": [
            [],
            [
                "dd6bd003f8621dc3"
            ],
            [
                "5126a47142c6b136"
            ]
        ]
    },
    {
        "id": "84814b5d7100ded0",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Request tray from Database",
        "func": "let tray = flow.get('tray');\nif (tray != null) return [null,null];\nlet trayProps  = flow.get('trayProps');\nnode.warn(\"Asking for tray from database\");\nvar newMsg =\n{\n    topic: trayProps.box + '/tray/' + trayProps.type + '/' + trayProps.name + '/echo',\n    payload: JSON.stringify({ topic: trayProps.box + '/tray/' + trayProps.type + '/' + trayProps.name + '/setting/echo' })\n};\nreturn [{ topic: \"getTrayProps\", payload: true }, newMsg];  \n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 120,
        "wires": [
            [
                "319b5f4fa4b9c863"
            ],
            [
                "0e014ed820642067"
            ]
        ]
    },
    {
        "id": "319b5f4fa4b9c863",
        "type": "delay",
        "z": "4a5a8ec8ddc999ab",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 120,
        "wires": [
            [
                "5e93e0c62b3da1e8"
            ]
        ]
    },
    {
        "id": "5e93e0c62b3da1e8",
        "type": "link out",
        "z": "4a5a8ec8ddc999ab",
        "name": "check for tray defined out",
        "mode": "link",
        "links": [
            "648c4dde41c4ced6"
        ],
        "x": 1265,
        "y": 60,
        "wires": []
    },
    {
        "id": "648c4dde41c4ced6",
        "type": "link in",
        "z": "4a5a8ec8ddc999ab",
        "name": "check for tray defined in",
        "links": [
            "5e93e0c62b3da1e8"
        ],
        "x": 785,
        "y": 60,
        "wires": [
            [
                "84814b5d7100ded0"
            ]
        ]
    },
    {
        "id": "c162f36043cc2868",
        "type": "mqtt out",
        "z": "4a5a8ec8ddc999ab",
        "name": "Publish Readings",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "79250bf3.365cc4",
        "x": 1510,
        "y": 460,
        "wires": []
    },
    {
        "id": "8219ec93fde4ef26",
        "type": "mqtt in",
        "z": "4a5a8ec8ddc999ab",
        "name": "Subscribe Settings",
        "topic": "",
        "qos": "0",
        "datatype": "auto",
        "broker": "79250bf3.365cc4",
        "nl": false,
        "rap": false,
        "inputs": 1,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "d1bde8974bd26245"
            ]
        ]
    },
    {
        "id": "5126a47142c6b136",
        "type": "link out",
        "z": "4a5a8ec8ddc999ab",
        "name": "trayControl Out",
        "mode": "link",
        "links": [
            "255ddcb2152de7f5"
        ],
        "x": 1115,
        "y": 340,
        "wires": []
    },
    {
        "id": "255ddcb2152de7f5",
        "type": "link in",
        "z": "4a5a8ec8ddc999ab",
        "name": "trayControl In",
        "links": [
            "5126a47142c6b136",
            "0e014ed820642067",
            "33c70d27d6a8b9c1",
            "36f27e06449f60aa"
        ],
        "x": 1395,
        "y": 400,
        "wires": [
            [
                "c162f36043cc2868"
            ]
        ]
    },
    {
        "id": "35592760638b8bfa",
        "type": "link in",
        "z": "4a5a8ec8ddc999ab",
        "name": "Publish Tray In",
        "links": [
            "bd59ed153526b94a",
            "dd6bd003f8621dc3",
            "7b7acd8a92f71a95",
            "18a373d7c39b4076",
            "974629da19a525ea",
            "d937dba7c2f7cfba",
            "825424632004f63e"
        ],
        "x": 1215,
        "y": 460,
        "wires": [
            [
                "5c76e32670100b45"
            ]
        ]
    },
    {
        "id": "dd6bd003f8621dc3",
        "type": "link out",
        "z": "4a5a8ec8ddc999ab",
        "name": "create normal setting out",
        "mode": "link",
        "links": [
            "35592760638b8bfa"
        ],
        "x": 1115,
        "y": 300,
        "wires": []
    },
    {
        "id": "7b7acd8a92f71a95",
        "type": "link out",
        "z": "4a5a8ec8ddc999ab",
        "name": "save config out",
        "mode": "link",
        "links": [
            "35592760638b8bfa"
        ],
        "x": 1115,
        "y": 500,
        "wires": []
    },
    {
        "id": "18a373d7c39b4076",
        "type": "link out",
        "z": "4a5a8ec8ddc999ab",
        "name": "ping out",
        "mode": "link",
        "links": [
            "35592760638b8bfa"
        ],
        "x": 1115,
        "y": 460,
        "wires": []
    },
    {
        "id": "cc8f67b0ef80fc63",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "prep ping",
        "func": "return {topic:'newData', payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 460,
        "wires": [
            [
                "18a373d7c39b4076"
            ]
        ]
    },
    {
        "id": "667c2c5d7f705954",
        "type": "link in",
        "z": "4a5a8ec8ddc999ab",
        "name": "setting switch in",
        "links": [
            "3cbcb621cb818ee0"
        ],
        "x": 645,
        "y": 440,
        "wires": [
            [
                "7c2432b95f4d2a68"
            ]
        ]
    },
    {
        "id": "0e014ed820642067",
        "type": "link out",
        "z": "4a5a8ec8ddc999ab",
        "name": "reload trays out",
        "mode": "link",
        "links": [
            "255ddcb2152de7f5"
        ],
        "x": 1105,
        "y": 180,
        "wires": []
    },
    {
        "id": "410156f65a9b70cb",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "MQTT subscribe topic",
        "func": "let subscribeTopic = flow.get('trayProps').box + \"/tray/\" + flow.get('trayProps').type +'/' + flow.get('trayProps').name + \"/setting/#\";\nreturn {action:\"subscribe\",topic:subscribeTopic};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 300,
        "wires": [
            [
                "8219ec93fde4ef26"
            ]
        ]
    },
    {
        "id": "5377f495c83a7a6f",
        "type": "delay",
        "z": "4a5a8ec8ddc999ab",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "84814b5d7100ded0"
            ]
        ]
    },
    {
        "id": "69597493ab2a7f2c",
        "type": "inject",
        "z": "4a5a8ec8ddc999ab",
        "name": "Archive clock",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "archiveClock",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 840,
        "wires": [
            [
                "7a2ba09675f33687"
            ]
        ]
    },
    {
        "id": "7a2ba09675f33687",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Archive Pulse",
        "func": "var tray = flow.get('tray');\nvar lastArchive = context.get('lastArchive');\nvar now = new Date().getTime();\nif ((now - lastArchive) <= tray.arcPeriod) return null;\ncontext.set('lastArchive', now);\nreturn {topic:'archivePulse', payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set('lastArchive', new Date().getTime());",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 840,
        "wires": [
            [
                "548139d24e399cb6"
            ]
        ]
    },
    {
        "id": "6f4cf8163e17e475",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Single Archive Pulse",
        "func": "return {topic:'archivePulse', payload:true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set('lastArchive', new Date().getTime());",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 900,
        "wires": [
            [
                "548139d24e399cb6"
            ]
        ]
    },
    {
        "id": "fd29a0b325275e3d",
        "type": "mqtt out",
        "z": "4a5a8ec8ddc999ab",
        "name": "Publish Archive",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "79250bf3.365cc4",
        "x": 800,
        "y": 840,
        "wires": []
    },
    {
        "id": "548139d24e399cb6",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Publish tray",
        "func": "if (!msg.payload) return null;\nvar tray = flow.get('tray');\nvar newMsg = \n{\n    topic: flow.get('trayProps').box + '/tray/' + flow.get('trayProps').type + '/' + flow.get('trayProps').name + '/archive',\n    payload: JSON.stringify(tray)\n};\nif( tray.trayControl.value > 0) newMsg = null;\nreturn  newMsg;  \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 840,
        "wires": [
            [
                "fd29a0b325275e3d"
            ]
        ]
    },
    {
        "id": "1e03a1443a23e648",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Parse Reading",
        "func": "let readingSuccess = true;\nlet tray = flow.get('tray');\n\nreturn {topic:\"readingSuccess\",payload:readingSuccess};\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"ival\", 0.000001);\ncontext.set(\"qval\", 0.000001);",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 700,
        "wires": [
            [
                "a64d31f1f50e0f29"
            ]
        ]
    },
    {
        "id": "825424632004f63e",
        "type": "link out",
        "z": "4a5a8ec8ddc999ab",
        "name": "Reading Success Out",
        "mode": "link",
        "links": [
            "35592760638b8bfa"
        ],
        "x": 735,
        "y": 700,
        "wires": []
    },
    {
        "id": "8bf3047428f12691",
        "type": "link in",
        "z": "4a5a8ec8ddc999ab",
        "name": "Archive Now In",
        "links": [
            "46579bc816c2e12c"
        ],
        "x": 115,
        "y": 900,
        "wires": [
            [
                "70408babd151d134"
            ]
        ]
    },
    {
        "id": "70408babd151d134",
        "type": "delay",
        "z": "4a5a8ec8ddc999ab",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 900,
        "wires": [
            [
                "6f4cf8163e17e475"
            ]
        ]
    },
    {
        "id": "a64d31f1f50e0f29",
        "type": "function",
        "z": "4a5a8ec8ddc999ab",
        "name": "Readings Alarm Scan",
        "func": "var tray = flow.get('tray');\nvar alarmFlagReading = scalarAlarmScan(tray, 'reading');\nvar alarmFlagSetting = scalarAlarmScan(tray, 'setting');\nreturn msg;\n\nfunction getActionArray(tray, type, actionType)\n{\n    var actionArray = [];\n    var keys = Object.keys(tray);\n    for (var ii = 0; ii < keys.length; ++ii)\n    {\n        if (tray[keys[ii]].hasOwnProperty('type'))\n        {\n            if (tray[keys[ii]].type == type)\n            {\n                if (tray[keys[ii]].action == actionType)\n                {\n                    actionArray.push(tray[keys[ii]]);\n                }\n            }\n        }\n    }\n    return actionArray;\n}\nfunction scalarAlarmScan(tray, actionType)\n{\n    var alarmFlag = false;\n    var actionArray = getActionArray(tray, 'scalar', actionType);\n    if (actionArray.length > 0)\n    {\n        for (var ii = 0; ii < actionArray.length; ++ii)\n        {\n            let oldAlarmValue = actionArray[ii].alarm.value;\n            actionArray[ii].alarm.value = 0;\n            if (!isNaN(actionArray[ii].value))\n            {\n                if (actionArray[ii].value <= actionArray[ii].alarm.limits.low)  actionArray[ii].alarm.value = 1;\n                if (actionArray[ii].value <= actionArray[ii].alarm.limits.lolo) actionArray[ii].alarm.value = 3;\n                if (actionArray[ii].value >= actionArray[ii].alarm.limits.high) actionArray[ii].alarm.value = 2;\n                if (actionArray[ii].value >= actionArray[ii].alarm.limits.hihi) actionArray[ii].alarm.value = 4;\n                if (actionArray[ii].alarm.value != oldAlarmValue) alarmFlag = true;\n            }\n        }\n    }\n    return alarmFlag;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set('lastAlarm', -1);",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 700,
        "wires": [
            [
                "825424632004f63e"
            ]
        ]
    },
    {
        "id": "a452a2f3b9d521c0",
        "type": "link out",
        "z": "4a5a8ec8ddc999ab",
        "name": "Save tray done",
        "mode": "link",
        "links": [
            "2f895b2de68c4ada"
        ],
        "x": 1115,
        "y": 540,
        "wires": []
    }
]